
body {
    background: rgb(75, 74, 74);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    margin: 0;
    padding: 0;
}         



h1 {
    color: rgb(6, 154, 240);
}
h2 {
    color: rgb(202, 200, 200);
} 

/* HEADER  */

header {
    background-image: url("images/pexels-photo-1005406.jpeg");
    background-size: 100%;
    background-position: center;
    /*background: black;*/
    background-color: black;
    height: 400px;
    padding: 20px;
    text-align: center;
}

header a {
    color:white;
    /*padding: 20px;
    height: 100px;*/
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

header .logo a {
    /*background: red;*/
    background-image: url("images/FAVPNG_bakery-bread-illustration_VLQJtTgW.png");
    background-size: 300px 120px;
    background-repeat: no-repeat;
    height: 120px;
    width: 300px;
    display: inline-block;
    text-indent: -9999999px;
    position: relative;
    top: -50px;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    /*background-color: gray;*/
    border-radius: 3px;
    padding: 2px;
    margin-left: 20px;
    display: inline-block;
    /*margin: 0 20px 0 0;*/
}

section3 {
    
    color: rgb(14, 126, 201);
    padding: 0px;
    display: flex;
    flex-direction: row;

}

section3 div {
    background: rgb(245, 243, 131);
    color: black;
    width: 100%;
    margin: 1px;
    display: flex;
    flex-direction: row;

}

/* FEATURE  */

section.feature {
    
    /*background: white;*/
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;

}

.feature figure {

    margin: auto;
    text-align: center;
    width: 200px;
    text-transform: uppercase;
    

}

.feature figure img {
    /*border-radius: 10px;*/
    border: 1px solid white;
    border-radius: 60%;
    box-shadow: rgb(65, 64, 64) 10px 10px 10px; 
    width: 200px;

}

.feature figure img.shop {
    /*border-radius: 10px;*/
    border: 1px solid white;
    border-radius: 0%;
    box-shadow: rgb(65, 64, 64) 10px 10px 10px; 
    width: 400px;

}

section.feature figure figcaption {

    margin: 20px;

}

/* larger screen width */
@media screen and (max-width: 2000px) {
    .feature {
        background: white;
        
    }
}
@media screen and (max-width: 1000px) {
    .feature {
        background: pink;
        
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .feature {
        background: green;
        
    }
}

/* smaller screen width */
@media screen and (max-width: 600px) {
    .feature {
        background: red;
        
    }

}



/* the word section could be omitted */
section.feature-box, section.non-feature-box {
    
    color: gray;
    padding: 0px;
    display: flex;
    flex-direction: row;

}

/* common feature to all div of sections with class feature-box*/
/* the word section could be omitted */
.feature-box div {

    width: 100%;
    margin: 1px;

}

/* specific feature to  div of section with class feature-box.sales*/
/* the word section could be omitted */
section.feature-box.sales div {
    background: gray;
    color: black;
    display: flex;
    flex-direction: row;

}
/* the word section could be omitted */
.feature-box.closeouts div, .non-feature-box.closeouts div {
    background: red;
    color: black;
    display: flex;
    flex-direction: row;

}

/* FOOTER  */

footer {
    background: black;
    color: lightgray;
    font-size: 18px;
    text-align: center;
    padding: 20px 20px;
}    
div {
    background: pink;
    display: inline;
    width: 100px;
    margin: auto;
}


li:first-child {
    margin-left: 0;
}

li:hover  {
    background-color: blue;
}

a  {
    text-decoration: none;
}

a:hover  {
    text-decoration: underline;
}
/* RESPONSIVE RULES */



/*
@media screen and (max-width: 715px) {
    header {
      height: 250px;
      background-position: 0 -30px;
    }
    header .mobile {
      display: inline-block;
    }
    header .desktop {
      display: none;
    }
  }
  
  @media screen and (max-width: 500px) {
    header {
      height: 200px;
      background-position: 0 -0px;
    }
  }
  */